/* src/app/globals.css OR src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard_main {
  min-width: 1200px;
  max-width: 1728px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.header {
  border-bottom: 1px solid rgb(225, 225, 225);
}

.sidebar {
  min-width: 278px;
  transition: min-width 0.3s ease, width 0.3s ease;
}

.sidebar.sidebar-collapsed {
  min-width: 80px;
  width: 80px;
}

.mobile-footer {
  display: none;
}

.dashboard, .main {
  flex-grow: 1;
  min-width: 0;
  /* This will make the dashboard fill the remaining space */
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .header {
    display: none;
  }

  .mobile-footer {
    display: block;
    position: fixed;
    bottom: 5%;
    left: 0;
    width: 100%;
    z-index: 50;
    height: 75px;
    margin-bottom: 5px;
    background-color: #F6F6F6; /* Add background to prevent overlap transparency */
    border-top: 1px solid #e5e5e5;
    padding: 12px; /* Optional padding */
  }

  .dashboard_main {
    min-width: 0px;
    flex-direction: column;
    padding-bottom: 60px; /* 👈 Leave space for fixed footer */
  }
}

/* Add this to your existing styles or create a separate stylesheet */
.scrollbar-container::-webkit-scrollbar {
  width: 5px;
  background-color: #e2e4e6;
  border: 2px;
  scrollbar-width: thin;
  height: 10px;
}

.scrollbar-container-small::-webkit-scrollbar {
  width: 2px;
  background-color: #e2e4e6;
  border: 2px;
  scrollbar-width: thin;
  height: 2px;
}

.scrollbar-container-small::-webkit-scrollbar-thumb {
  background-color: #006AFF;
  padding-top: 2px;
}

.scrollbar-container::-webkit-scrollbar-thumb {
  background-color: #006AFF;
  padding-top: 10px;
}


/* Hide calendar icon but keep it clickable */
.input-hide-date-icon::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
}


.image-clip {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 70%,
    0 70%
  ); /* Adjust percentages as needed */
}

.image-clipII {
  clip-path: polygon(
    10% 0,
    100% 0,
    100% 95%,
    10% 95%
  ); /* Adjust percentages as needed */
}

.image-clipIII {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 85%,
    0 85%
  ); /* Increased from 60% to show more of the image */
}

